<div>
  <section id="sp-top-bar" style="background-color: #36498f">
    <div class="container">
      <div class="row" style="color: aliceblue">
        <div class="col">{{ today | date: "fullDate" | titlecase }}</div>
        <div class="col text-right">
          <h6><i class="far fa-envelope"></i> John Warrior Movies</h6>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="sp-logo-wrap" style="background-color: black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <a title="John David Guerrero">
          <img
            style="width: 50%; height: 50%; margin: 20px; align-content: center"
            src="assets/logotitulo.png"
            alt="Universidad Surcolombiana"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <nav class="navbar navbar-expand-lg menu" style="background-color: #283747">
    <button
      class="navbar-toggler navlinkin"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu__list text-uppercase">
        <li class="menu__group">
          <a
            style="padding: 10px"
            class="nav-link menu__link"
            [routerLink]="['/inicio']"
            routerLinkActive="router-link-active"
            ><i class="fas fa-home"></i> Inicio</a
          >
        </li>
        <li class="menu__group">
          <a
            style="padding: 10px"
            class="nav-link menu__link"
            [routerLink]="['/dvdHome']"
            routerLinkActive="router-link-active"
            >SERIES</a
          >
        </li>
        <li class="menu__group" *ngIf="auth.user | async">
          <a
            style="padding: 10px"
            class="nav-link menu__link"
            [routerLink]="['/admi_peliculaedit', 'nuevo']"
            routerLinkActive="router-link-active"
            >Publicar Película</a
          >
        </li>
        <li class="menu__group">
          <ng-template #showLogin>
            <a
              style="padding: 10px"
              routerLinkActive="router-link-active"
              class="nav-link menu__link"
              (click)="openSm(formAdmin)"
              ><i class="fas fa-lock"></i> Ingresar</a
            >
          </ng-template>
          <a
            *ngIf="auth.user | async; else showLogin"
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link menu__link cursorSelect"
            (click)="logout()"
            ><i class="fas fa-door-open"></i> Salir</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<ng-template #formAdmin let-modal>
  <div class="modal-header" style="background-color: darkblue">
    <h4 class="modal-title text-white">
      <i class="fas fa-user-cog"></i> Administrar:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times" style="color: white"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="text-center p-2" #forma="ngForm">
        <!-- Email -->
        <div class="d-flex justify-content-around">
          <input
            type="email"
            id="defaultLoginFormEmail"
            [(ngModel)]="email"
            name="email"
            class="form-control mb-4 shadow"
            placeholder="Correo"
          />
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-around" *ngIf="viewPass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="password"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ver contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="view()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Password view-->
        <div class="d-flex justify-content-around" *ngIf="hidePass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="text"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ocultar contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="hide()"
              >
                <i class="far fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="justify-content-around">
          <div class="m-2">
            <!-- Forgot password -->
            <a (click)="recuperar()" class="cursorSelect text-blue"
              >¿Recuperar?</a
            >
          </div>
          <div class="input-group mb-3" *ngIf="viewRecuperar != true">
            <input
              class="form-control shadow"
              placeholder="Correo"
              type="email"
              id="defaultLoginFormEmail"
              [(ngModel)]="email"
              name="email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="passEmail()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Enviar al correo"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="passEmail()"
              >
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <small class="m-2"
              >Digite su correo para enviar un email y recuperar su
              contraseña</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <button
    type="button"
    style="
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    "
    class="btn btn-primary p-3"
    ngbAutofocus
    (click)="customLogin()"
  >
    Acceder
  </button>
</ng-template>
