<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-uppercase" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-uppercase">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >FULL HD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/marvelHome']" routerLinkActive="router-link-active" >SAGA DEL INFINITO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dvdHome']" routerLinkActive="router-link-active" >DVD RIP</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar película HD" (input)="buscarPelicula1(buscarTexto1.value)" #buscarTexto1>
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar película MARVEL" (input)="buscarPelicula2(buscarTexto2.value)" #buscarTexto2>
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar película DVD" (input)="buscarPelicula3(buscarTexto3.value)" #buscarTexto3>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="reset">Limpiar</button>
      </form>
      
  </div>
</nav>