/* You can add global styles to this file, and also import other style files */
body{
    background-color: #042a4a;
}
.ir-arriba{
  display: inline-block;
  padding: 20px;
  background-color: #024959;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: none;
  z-index: 100;
}