/* You can add global styles to this file, and also import other style files */
body{
    background-color: #042a4a;
}
.ir-arriba{
  display: inline-block;
  padding: 20px;
  background-color: #024959;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: none;
  z-index: 100;
}
.pagination > li > a
{
    background-color: black;
    color: white;
    border: none;
}
.page-item.active .page-link {
    background-color: blue;
    border: solid 1px blue;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > span:focus,
.pagination > li > span:hover
.pagination > li > span:active
{
    color: white;
    background-color:blue;
    border-color: blue;
}

.pagination > .active > a
{
    color: white;
    background-color: blue;
    border: solid 1px blue;
}

.pagination > .active > a:hover
{
    background-color: blue;
    border: solid 1px blue;
}
.pagination ul > li:not(.active) > a
{
    background-color: blue;
    border: solid 1px blue;
}
.pagination ul > li.active > a
{
    background-color: blue;
    border: solid 1px blue;
}
hr {
    border: solid 0.8px  white;
 }