<!-- Footer -->
<footer
  class="page-footer font-small mdb-color pt-4"
  style="background-color: #283747"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center">
      <!-- Grid column -->
      <div class="col" style="color: white">
        <h1>
          <strong style="color: white"
            >Warrior<sup style="color: red">Movies</sup></strong
          >
        </h1>
        <p>
          Esta plataforma es un espacio de entretenimiento sin fines lucrativos.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />
    </div>
    <hr style="background-color: white" />

    <!-- Grid row -->
    <div class="row d-flex text-center">
      <!-- Grid column -->
      <div class="col">
        <!--Copyright-->
        <p style="color: white">
          © {{ today | date: "yyyy" }} Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong style="color: white">JOHN-WARRIOR</strong>
          </a>
        </p>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
